.item {
    line-height: 0;
    padding-left: 20px;
    margin: 5px;
    /*border-left: 1px solid #444;*/
}
.item_row {
    width: 100%;
}
.children {
    padding: 0;
    list-style: none;
    display: none;
}
.arrow {
    display: inline-block;
    margin: 10px 0 10px 10px;
    width: 15px;
    height: 20px;
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2715%27%20height%3D%2720%27%3E%3Cpolygon%20points%3D%270%2C4%2010%2C10%200%2C16%27%20fill%3D%27%23b8b4b4%27%20%2F%3E%3C%2Fsvg%3E") no-repeat;
}
.empty-arrow {
    display: inline-block;
    margin: 10px 0 10px 10px;
    width: 15px;
    height: 20px;
}
.size {
    font-family: monospace;
    color: #7c7c7c;
    padding-left: 7px;
}
p {
    line-height: 1;
    margin: 10px 10px 10px 0;
    display: inline-block;
    vertical-align: top;
}
